<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width", initial-scale="1">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/custom.css">

  <title>아이디 찾기</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="login">실종자 찾기 사이트</a>
    <ul class="nav navbar-nav">
      <li><a href="write">실종자 등록 </a></li>
      <li><a href="bbs">실종자 등록 현황 페이지</a></li>
      <li><a href="bbs3">실종자 발견 현황</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="col-Lg-4"></div>
  <div class="col-Lg-4"></div>
  <div class="jumbotron" style="padding-top: 20px;">
    <h3 style="text-align: center;">아이디 찾기</h3>
    <form method="post" action="findid">
      <div class="form-group">
        <label for="userName">이름:</label>
        <input type="text" class="form-control" id="userName" name="userName" required>
      </div>
      <div class="form-group">
        <label for="userEmail">가입 시 등록한 이메일:</label>
        <input type="email" class="form-control" id="userEmail" name="userEmail" required>
      </div>
      <div style="text-align: center;">
        <input type="submit" class="button button2" value="아이디 찾기">
      </div>
    </form>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>
